@{
    ViewBag.Title = "add Laptops";
}

<!DOCTYPE html>
<html lang="en">
<head>           
    <title>Add Laptops</title>
    <meta charset="utf‐8" />
</head>

@{
    //HttpContext.Current.Response.AddHeader("Cache-Control", "no-cache, no-store, must-revalidate");
    //HttpContext.Current.Response.AddHeader("Pragma", "no-cache");
    //HttpContext.Current.Response.AddHeader("Expires", "0");

    if (Session["login"] != "login")
    {
        Response.Redirect("~/Home/loginP");
    }
}


<body onload="checkSession()">

    <script>

        function checkSession()
        {
            //alert("checksession!");
            @{
                
                    if (Session["login"] != "login")
                    {
                        Response.Redirect("~/Home/loginP"); 
                    }                   
        }
            }

    </script>

    @Html.Partial("_header")

    @*@{
        if (Session["login"] != "login")
        {

            <script>
                window.history.forward();
                alert("hello , laptop");

                @{
                    Response.Redirect("~/Home/loginP");
                }
                function myfun() {
                    var i = document.getElementById('pass1').value;
                    var j = document.getElementById('pass2').value;
                    if (i != j) {
                        alert("Beta Kidr?");
                        alert("Passwords are not same!");
                        return false;

                    }
                    return true;
                }

            </script>
        }
    }*@

    <div class="clear"> </div>

    <div class="wrap">
        <div class="content">
            <div class="content-grids">
                <marquee direction="right">
                    <h1 style="color: #94CB32">Add laptops</h1>
                    </marquee>
                    <div class="contact-form">

                        @{using (Html.BeginForm("addLaptopsDB", "Home", FormMethod.Get,
                            new { enctype = "multipart/form-data" }))
                        {
                            <div class="form-group">
                                <label>Name:</label>
                                <input type="text" class="form-control" name="name" placeholder="e.g Apple Macbook Air etc" required />
                            </div>
                            <div class="form-group">
                                <label for="comment">Description</label>
                                <textarea class="form-control" style="font-size:medium" name="desc" rows="5" id="comment"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Price in Rs. </label>
                                <input type="number" class="form-control" name="price" placeholder="e.g 10000 or 20000 etc " required />
                            </div>
                            <div class="form-group">
                                <label>Year </label>
                                <input type="text" class="form-control" name="year" required placeholder="e.g : 2016">
                            </div>
                            <div class="form-group">
                                <label>Model Name </label>
                                <input type="text" class="form-control" name="model" value="" placeholder="GS-1706 etc" required>
                            </div>

                            <div class="form-group">
                                <label>RAM </label>
                                <input type="text" class="form-control" name="ram" value="" placeholder="4 GB etc" required>
                            </div>

                            <div class="form-group">
                                <label>ROM </label>
                                <input type="text" class="form-control" name="rom" value="" placeholder="400 GB etc" required>
                            </div>

                            <div class="form-group">
                                <label>Processor </label>
                                <input type="text" class="form-control" name="processor" value="" placeholder="1.7 Quadcore etc" required>
                            </div>

                            <div class="form-group">
                                <label>Display size </label>
                                <input type="text" class="form-control" name="display" value="" placeholder="11 inch etc" required>
                            </div>

                            <label>Company Name </label>
                            <br>

                            <label class="radio-inline">

                                <input type="radio" name="company" checked value="apple" required> Apple
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="company" value="dell" required> Dell
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="company" value="hp" required>HP
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="company" value="samsung" required>Samsung
                            </label>
                            <br><br><br>

                            <div>
                                <label for="file">Upload Image:</label>
                                <input type="file" name="file" id="file" />
                            </div>
                            <br><br>
                            <input type="submit" value="Submit" onclick="return myfun()">

                            <p>@ViewBag.Message</p>

                        }

                        }

                    </div>

</div>
        </div>
    </div>

    @Html.Partial("_adminPanel")


    @*if (Session["login"] == "login" && Session["person"] == "admin")
            {

                @Html.Partial("adminP")

        <div class="col span_2_of_3" style="float:left">
            <div class="contact-form">
                <form style="text-align:center" action="~/Home/logout" method="get">
                    <div><span><input type="submit" value="Logout"></span></div>
                </form>
            </div>
        </div>
            }
            else if (Session["login"] == "login" && Session["person"] == "user")
            {
                @Html.Partial("userP")

        <div class="col span_2_of_3" style="float:left">
            <div class="contact-form">
                <form style="text-align:center" action="~/Home/logout" method="get">
                    <div><span><input type="submit" value="Logout"></span></div>
                </form>
            </div>
        </div>
        }*@

    <div class="clear"> </div>

    <div class="clear"> </div>

    @Html.Partial("_footer")
</body>
</html>
