@{
    ViewBag.Title = "editMobiles";
}

@using EADPostMid.Models;

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Mobiles</title>
    <meta charset="utf‐8" />
</head>
<body>
    @Html.Partial("_header")

    @{
        if (Session["login"] != "login")
        {
            <script>
                @{
            Response.Redirect("~/Home/loginP");
                }
                function myfun() {


                    var i = document.getElementById('pass1').value;
                    var j = document.getElementById('pass2').value;
                    if (i != j) {
                        alert("Beta Kidr?");
                        alert("Passwords are not same!");
                        return false;

                    }
                    return true;
                }

            </script>
        }
    }

    <div class="clear"> </div>

    <div class="wrap">
        <div class="content">
            <div class="content-grids">
                <h1 style="text-align:left">Edit Mobiles</h1>
                <div class="contact-form">

                    @*@{using (Html.BeginForm("editMobilesCheck", "Home", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))*@
                            @{
                                Mobiles obj = (Mobiles)Model;
                      <form action="~/Home/editMobilesCheck/@obj.mobId" method="get">
                                                        
                       @{

                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" class="form-control" value="@obj.name" name="name" placeholder="e.g Samsung grand Prime" required />
                        </div>
                        <div class="form-group">
                            <label for="comment">Description</label>
                            <textarea class="form-control" style="font-size:medium" name="desc" rows="5" id="comment">@obj.desc</textarea>
                        </div>

                        <div class="form-group">
                            <label>Price in Rs. </label>
                            <input type="number" class="form-control" value="@obj.price" name="price" placeholder="e.g 10000 or 20000 etc " required />
                        </div>
                        <div class="form-group">
                            <label>Year </label>
                            <input type="text" class="form-control" value="@obj.year" name="year" required placeholder="e.g : 2016">
                        </div>
                        <div class="form-group">
                            <label>Model Name </label>
                            <input type="text" class="form-control" name="model" value="@obj.model" placeholder="GS-1706 etc" required>
                        </div>
                        <label>Company Name </label>
                        <br>

                        if (obj.company == "samsung") {
                        <label class="radio-inline">
                            <input type="radio" name="company" checked value="samsung" required> samsung
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="company" value="Q-mobile" required> Q-mobile
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="company" value="G-five" required>G-five
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="company" value="htc" required>HTCs
                        </label>
                        }
                        else if (obj.company == "Q-mobile") {
                        <label class="radio-inline">
                            <input type="radio" name="company" value="samsung" required> samsung
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="company" checked value="Q-mobile" required> Q-mobile
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="company" value="G-five" required>G-five
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="company" value="htc" required>HTCs
                        </label>
                        }
                        else if (obj.company == "G-five") {
                        <label class="radio-inline">
                            <input type="radio" name="company" value="samsung" required> samsung
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="company" value="Q-mobile" required> Q-mobile
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="company" checked value="G-five" required>G-five
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="company" value="htc" required>HTCs
                        </label>
                        }
                        else if (obj.company == "htc") {
                        <label class="radio-inline">
                            <input type="radio" name="company" value="samsung" required> samsung
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="company" value="Q-mobile" required> Q-mobile
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="company" value="G-five" required>G-five
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="company" checked value="htc" required>HTCs
                        </label>
                        }

                        }

                        <br><br>
                        <input type="submit" value="Submit" onclick="return myfun()">

                        <p>@ViewBag.Message</p>
                            }
                    </form>

                }
                  
                </div>

            </div>
        </div>
    </div>

    @Html.Partial("_adminPanel")



    @*if (Session["login"] == "login" && Session["person"] == "admin")
            {

                @Html.Partial("adminP")

        <div class="col span_2_of_3" style="float:left">
            <div class="contact-form">
                <form style="text-align:center" action="~/Home/logout" method="get">
                    <div><span><input type="submit" value="Logout"></span></div>
                </form>
            </div>
        </div>
            }
            else if (Session["login"] == "login" && Session["person"] == "user")
            {
                @Html.Partial("userP")

        <div class="col span_2_of_3" style="float:left">
            <div class="contact-form">
                <form style="text-align:center" action="~/Home/logout" method="get">
                    <div><span><input type="submit" value="Logout"></span></div>
                </form>
            </div>
        </div>
        }*@

    <div class="clear"> </div>

    <div class="clear"> </div>

    @Html.Partial("_footer")

</body>
</html>